@font-face {
    font-family: GameFont;
    src: local("NanumGothic"),
		 url('NanumGothic.eot') format('embedded-opentype'),
		 url('NanumGothic.woff') format('woff'),
		 url('NanumGothic.ttf') format('truetype'),
		 url('NanumGothic.otf') format('opentype'),
		 url('NanumGothic.svg') format('svg'),
		 url('mplus-1m-regular.ttf') format('truetype');
}

.IIV::-webkit-media-controls-play-button,
video::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}